.footer{
    margin-top: 30px;
    border-top: 1px solid gray;
}
.footer form{
    display:flex;
    width: 100%;
    justify-content: center;
}
.form_component{
    display: grid;
    gap: 10px;
    text-align: center;
    width: 90%;
}
.form_title{
    color: gray;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}
.section_form{
    display: grid;
    width:500px;
    margin: 0 auto;
    gap: 10px;
}
.section_form >div{
    display: grid;
    color: gray;
}
.plan.inputs{
    position: relative;
    margin-bottom: 60px;
    margin-top: 20px;
}
.form_input{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    height: 40px;
    padding: 2px 4px;
}
.form_label{
    position: absolute;
    top:8px;
    left: 10px;
    background-color: white;
    cursor: text;
    padding: 0 4px;
    transition: top .1s;
}

.form_input:focus ~ .form_label, .form_input:not(:placeholder-shown):not(:focus)  ~ .form_label{
    top:-10px;
    font-size: .75em;
    color:teal;
    font-weight: 900;
}
.message.inputs{
    position: relative;
    margin:20px 0;
}
.form_message{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
}
.form_label_m{
    position: absolute;
    top:18px;
    left: 10px;
    background-color: white;
    cursor: text;
    padding: 0 4px;
    transition: top .1s;
}
.form_message:focus ~ .form_label_m, .form_message:not(:placeholder-shown):not(:focus) ~.form_label_m{
    top:-10px;
    font-size: .75em;
    color:teal;
    font-weight: 900;
}
.section_form >div .form_input, .form_message, .select{
    border: 1px solid gray;
    outline:none;
    appearance: none;
    border-radius: 2px;
    font-size: .75em;
    color: gray;
}
.section_form .form_input:focus{
    border: teal 2px solid;
}
.section_form .form_message:focus{
    border: teal 2px solid;
}
.section_form >div .select:focus{
    border: teal 2px solid;
}
.section_form .form_message{
    height: 70px;
    padding: 2px 4px;
    resize: none;
}
.select{
    padding: 2px 4px;
}
.section_form  .form_submit{
    height: 40px;
    padding: 2px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: teal;
    margin-bottom: 20px;
    margin-top: 60px;
}


.mainFooter{
    display: grid;
    margin-top: 20px;
    background-color: rgb(42, 59, 78);
    height: 30vh;
    color: white;
    align-items: center;
    justify-content: center;
}
.mainFooter ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 100px;
}
.mainFooter ul li{
    padding: 4px 8px;
    border-radius: 50%;
    cursor: pointer;
}
.mainFooter ul >li:first-child{
    background-color: darkblue;
}
.mainFooter ul >li:nth-child(2){
    background-color: rgb(81, 81, 235);
}
.mainFooter ul >li:last-child{
    background-color: purple;
}
.mainFooter ul li:hover{
    background-color: teal;
}
.mainFooter span{
    justify-self: center;
    font-size: .8em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-Width:780px){
    .secton_image-background{
        display: grid;
        gap: 20px;
        transition:grid 1s linear;
    }
    .section_form{
        width:100%;
    }
}